#app {
  font-family: helvetica;
}

.tabs:hover {
  /* border-style: solid;
  border-width: 1px 1px 0px 1px; */
  /* padding-top: 1em; */
  box-shadow: grey 0px 1px 8px;
  /* vertical-align: 1em; */
  /* align-content: 1em; */
  /* box-align: end; */
  /* margin-bottom: 0px; */
  /* box-direction: reverse; */
}
.tabs {
  float: left;
  display: flex;
  justify-content: center;
  /* margin-top: 20px; */
  vertical-align: 0em;
  position: relative;
  text-transform: uppercase;
  height: 40px;
  cursor: default;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 22px;
  letter-spacing: 0.0625em;
  text-align: justify;
}
.specificCatEntry {
  float: right;
  border-style: solid;
  border-width: 1px 1px 1px 0px;
}
.shopDrops {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
}
.categoryEntry {
  padding-bottom: 1em;
  border-style: solid;
  border-width: 0px 1px 0px 1px;
}
.shop {
  padding-top: 22px;
}
h1 {
  position: relative;
}
a {
  color: black;
  text-decoration: none;
}
.bottomBar {
  display: flex;
}
#search {
  display: block;
  font-family: inherit;
  font-size: 14px;
  width: 200px;
  height: 40px;
  padding-left: 12px;
  padding-right: 12px;
  color: #000;
  background-color: #fff;
  border-width: 1px;
  border-radius: 4px;
  border-color: #ccc;
  /* -webkit-appearance: none; */
}
